<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="userFriends (received, accepted)" class="container bootstrap snippet">

    <div th:if="${not #lists.isEmpty(received)}">
        <div class="panel panel-white post panel-shadow m-1 p-3">
            <div class="container">
                <div class="top">
                    <div class="row" align="center">
                        <div class="col-md-12" align="center">
                            <h4>You have new friend requests:</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-block col-md-12 px-0">
                    <table class="table table-hover m-0">
                        <tr th:each="sendedRequests: ${received}">
                            <td>
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="col-md-4">
                                        <a th:href="@{|users/${sendedRequests.from.id}|}">
                                            <img width="40" height="40" th:if="*{sendedRequests.from.img != null}"
                                                 class="avatar image"
                                                 th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(sendedRequests.from.img)}}"/>
                                            <span th:text="${sendedRequests.from.firstName} + ' ' + ${sendedRequests.from.lastName}"></span>
                                        </a>
                                    </div>
                                    <div class="col-md-4 offset-md-4">
                                        <form action="#" th:action="@{/requestConfirmation}" method="post"
                                              class="form-horizontal">
                                            <input type="hidden" th:name="friendRequestId"
                                                   th:value="${sendedRequests.id}">

                                            <div class="form-group">
                                                <div class="row" align="center">
                                                    <div class="col-sm-12">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <input type="submit" th:name="Accept" value="Accept"
                                                                       class="btn btn-primary mt-2">
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <input type="submit" th:name="Decline" value="Decline"
                                                                       class="btn btn-primary mt-2">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${not #lists.isEmpty(accepted)}">
        <div class="panel panel-white post panel-shadow m-1 p-3">
            <div class="top">
                <div class="col-md-12" align="center">
                    <h4>My Friends:</h4>
                </div>
            </div>
            <div class="card">
                <div class="card-block col-md-12 px-0">
                    <table class="table table-hover m-0">
                        <tr th:each="friend: ${accepted}">

                            <div th:if="${user.id} == ${friend.to.id}">
                                <td>
                                    <div class="row d-flex align-items-between">
                                        <div class="col-md-2 pl-3"><a th:href="@{|users/${friend.from.id}|}">
                                            <img width="40" height="40" th:if="*{friend.from.img != null}"
                                                 class="avatar image"
                                                 th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(friend.from.img)}}"/>
                                        </a></div>
                                        <div class="col-md-6 p-0">
                                            <div th:text="${friend.from.firstName} + ' ' + ${friend.from.lastName}"></div>
                                        </div>
                                        <div class="col-md-2 pr-3">
                                            <form th:action="@{/startConversation}" method="get">
                                                <input type="hidden" th:value="${friend.from.id}" th:name="userId">
                                                <input type="submit" class="btn btn-primary" value="Send Message">
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </div>


                            <div th:if="${user.id} == ${friend.from.id}">
                                <td>
                                    <div class="row d-flex  align-items-between">
                                        <div class="col-md-2 pl-3"><a th:href="@{|users/${friend.to.id}|}">
                                            <img width="40" height="40" th:if="*{friend.to.img != null}"
                                                 class="avatar image"
                                                 th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(friend.to.img)}}"/>
                                        </a></div>
                                        <div class="col-md-6 p-0">
                                            <div th:text="${friend.to.username}"></div>
                                        </div>
                                        <div class="col-md-2 pr-3">
                                            <form th:action="@{/startConversation}" method="get">
                                                <input type="hidden" th:value="${friend.to.id}" th:name="userId">
                                                <input type="submit" class="btn btn-primary" value="Send Message">
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </div>

                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>


</html>
