<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
<nav th:fragment="navBar (loggedUser)" class="navbar navbar-light bg-light sticky-top p-0" id="top">
    <div class="container-fluid" id="navCont">
        <div class="row w-100 p-0">
            <div class="col col-md-1 pt-1" align="center">
                <div class="navbar-header">
                    <label class="navbar-brand" id="brand">
                        <img src="https://i.imgur.com/YC3M8I0.png" width="22" height="20"
                             class="d-inline-block align-top" alt="">TUNAS</label>
                </div>
            </div>
            <div class="col col-md-3 py-1" align="center">
                <div class="row d-flex justify-content-between ">
                    <div class="col btn btn-primary btn-purple" align="center"><a th:href="@{/}"><label
                            class="navButton">Homepage</label></a></div>
                    <div class="col btn btn-primary btn-purple" align="center"><a th:href="@{/songs}"><label
                            class="navButton">Music</label></a></div>
                    <div sec:authorize="hasRole('ROLE_ADMIN')" class="col btn btn-primary btn-purple" align="center"><a th:href="@{/requests}"><label
                            class="navButton">Requests</label></a></div>
                </div>
            </div>
            <div class="col" align="center">
                <form class="navbar-form" action="#" th:action="@{/search}" method="get">
                    <div class="row justify-content-center">
                        <div class="col-sm-8 mt-2" align="center">
                            <input type="text" class="form-control" required="required" placeholder="Search User"
                                   th:name="userName">
                        </div>
                        <div class="col-sm-1 mt-2">
                            <input id="navSearch" type="submit" value="Search" class="btn btn-default"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col col-md-3"></div>

            <div class="col col-md-1" align="center">
                <form method="post" th:action="@{/logout}">
                    <div class="col pt-2">
                        <input type="submit" class="btn btn-primary btn-purple navButton" value="Log out"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>
</body>

</html>