<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
<nav th:fragment="navBar (loggedUser)" class="navbar sticky-top p-0" id="top">
    <div class="container-fluid" id="navCont">
        <div class="row w-100 p-0">
            <div class="col col-md-1 pt-1" align="center">
                <div class="navbar-header">
                    <label class="navbar-brand" id="brand">
                        <a th:href="@{/}">
                        <img src="https://i.imgur.com/zkfdYPg.png" width="100" height="35"
                             class="d-inline-block align-top" alt=""></a>
                    </label>
                </div>
            </div>
            <div class="col col-md-3 py-1" align="center">
                <div class="row d-flex justify-content-between mt-1">
                    <div class="col" align="center"><a class="nav-link" th:href="@{/}"><label>Strona główna</label></a></div>
                    <div class="col" align="center"><a class="nav-link" th:href="@{/songs}"><label>Muzyka</label></a></div>
                </div>
            </div>
            <div class="col" align="center">
                <form class="navbar-form" action="#" th:action="@{/search}" method="get">
                    <div class="row justify-content-center">
                        <div class="col-sm-8 mt-2" align="center">
                            <input type="text" class="form-control" required="required" placeholder="Znajdź użytkownika"
                                   th:name="userName">
                        </div>
                        <div class="col-sm-1 mt-2">
                            <input id="navSearch" type="submit" value="Szukaj" class="btn btn-primary"/>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col col-md-3 py-1" align="center">
                <div class="row d-flex justify-content-center mt-1">
                    <div sec:authorize="hasRole('ROLE_ADMIN')" class="col" align="center"><a class="nav-link" th:href="@{/requests}"><label>Propozycje użytkowników</label></a></div>
                </div>
            </div>

            <div class="col col-md-1" align="center">
                <form method="post" th:action="@{/logout}">
                    <div class="col pt-2">
                        <input type="submit" class="btn btn-primary navButton" value="Wyloguj"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>
</body>

</html>