<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
</head>
<body>
<div th:fragment="post (user)">
    <div th:each="post: ${user.posts}">
        <div class="container bootstrap snippet">
            <div class="col-md-12">
                <div class="panel panel-white post panel-shadow">
                    <div class="post-heading">
                        <div class="pull-left image">
                            <img th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(user.img)}}"
                                 class="img-circle avatar"
                                 alt="user profile image">
                        </div>
                        <div class="pull-left meta">
                            <div class="title h5">
                                <b th:text="${user.username}"></b> made a post.
                                <b th:text="${post.date}"></b>
                            </div>
                        </div>
                    </div>
                    <div class="post-description">
                        <p th:text="${post.content}"></p>
                    </div>
                    <div class="post-footer">
                        <div class="input-group">
                            <div class="row w-100">
                                <div class="col-md-12">
                                    <form method="post" action="#" th:action="@{/commentPost}">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <input class="form-control" required="required" placeholder="Add a comment" type="text"
                                                       name="commentContent">
                                                <input type="hidden" th:value="${post.id}" th:name="postId">
                                            </div>
                                            <div class="col-md-2">
                                                <input type="submit" class="btn btn-primary" value="Comment">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <button th:onclick="'javascript:hideComments(\'' + ${post.id} + '\');'" class="btn btn-primary w-100 m-3">Show comments
                            </button>
                        </div>
                        <div th:id="${post.id}" style="display: none;">
                            <div th:each="comment : ${post.comments}" >
                                <ul class="comments-list">
                                    <li class="comment">
                                        <div class="comment-body">
                                            <div class="comment-heading">
                                                <h4 class="user"><b th:text="${comment.authorName}"></b></h4>
                                                <h5 class="time"><b th:text="${comment.date}"></b></h5>
                                            </div>
                                            <p>
                                            <p th:text="${comment.content}"></p></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>



</body>

</html>