<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="preferences (user)">
    <div class="panel panel-white post panel-shadow p-3 my-3">
        <div class="row">
            <div class="col-md-12" align="center">
                <h4>Preferencje:</h4>
            </div>
        </div>

        <div class="pt-2" id="preferences">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="song"><h6>Ulubiony utwór:</h6></label>
                        </div>
                        <div class="col-md-10">
                            <b id="song"
                                  th:text="${user.preference.favSong} ? ${user.preference.favSong.title} + ' - ' +${user.preference.favSong.artist} : 'Nie wybrano'"></b>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="artist"><h6>Ulubiony wykonawca:</h6></label>
                        </div>
                        <div class="col-md-8">
                            <b id="artist" th:text="${user.preference.favArtist} ?: 'Nie wybrano'"></b>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="genre"><h6>Ulubiony gatunek:</h6></label>
                        </div>
                        <div class="col-md-8">
                            <b id="genre" th:text="${user.preference.favGenre} ?: 'Nie wybrano'"></b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>