<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="profileForm (user)" class="container bootstrap snippet">
    <div class="panel panel-white post panel-shadow m-1 p-3">
        <div class="row" align="center">
            <div class="col" th:if="${message}">
                <h1 class="alert alert-danger errotText" th:text="${message}"></h1>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-12">

                <ul class="nav nav-tabs">
                    <li class="active"><a class="btn btn-light mr-1" data-toggle="tab" href="#profile">Profil&emsp;</a>
                    </li>
                    <li><a class="btn btn-light" data-toggle="tab" href="#preferences">Preferencje</a></li>
                </ul>

                <div class="tab-content mt-3">
                    <div class="tab-pane active" id="profile">

                        <form class="form" action="##" method="post" th:action="@{/profile/edit}"
                              enctype="multipart/form-data">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="username"><h6>Nazwa użytkownika:</h6></label>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" th:name="username" id="username"
                                                       minlength="2" maxlength="30"
                                                       th:placeholder="${user.username}"
                                                       title="Wprowadź nową nazwę użytkownika.">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="email"><h6>E-mail:</h6></label>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="email" class="form-control" th:name="email" id="email"
                                                       th:placeholder="${user.email}" title="Wprowadź nowy adres e-mail.">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="firstname"><h6>Imię:</h6></label>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" th:name="firstname"
                                                       id="firstname"
                                                       th:placeholder="${user.firstName}"
                                                       title="Zmień imię.">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="lastname"><h6>Nazwisko:</h6></label>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" th:name="lastname" id="lastname"
                                                       th:placeholder="${user.lastName}"
                                                       title="Zmień nazwisko.">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="password"><h6 id="passTitle">Hasło:</h6></label>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="password" onchange='check_pass();' class="form-control"
                                                       th:name="password"
                                                       id="password"
                                                       title="Wprowadź nowe hasło" minlength="5">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="password2"><h6 id="verifyPassTitle">Potwierdź hasło:</h6></label>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="password" onchange='check_pass();' class="form-control"
                                                       name="password2"
                                                       id="password2"
                                                       title="Wprowadź nowe hasło">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row w-100 m-0">
                                <div class="col-md-12" align="center">
                                    <div class="text-center">
                                        <br>
                                        <div class="row">
                                            <div class="col-md-12" align="center">
                                                <div class="image_outer_container_profile">
                                                    <div class="green_icon"></div>
                                                    <div class="image_inner_container_profile">
                                                        <img id="img"
                                                             th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(user.img)}}"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h6 class="mt-1">Zmień zdjęcie profilowe.</h6>
                                        <input type="file" class="text-center center-block file-upload"
                                               onchange="readURL(this);" name="file">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="row justify-content-end">
                                        <div>
                                            <button class="btn btn-success mr-1" type="submit">Zapisz</button>
                                        </div>
                                        <div>
                                            <button class="btn btn-danger" type="reset">Wyczyść</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--==============================PREFERENCES===================================================================-->
                    <div class="tab-pane" id="preferences">
                        <form class="form" action="##" method="post" th:action="@{/profile/preferences}"
                              enctype="multipart/form-data">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="song"><h6>Ulubiony utwór:</h6></label>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" id="song"
                                                       th:name="title"
                                                       placeholder="Tytuł"
                                                       th:value="${user.preference.favSong} ? ${user.preference.favSong.title} : ''">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="song_artist"><h6>W wykonaniu:</h6></label>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" id="song_artist"
                                                       th:name="songArtist"
                                                       placeholder="Wykonawca"
                                                       th:value="${user.preference.favSong} ? ${user.preference.favSong.artist} : ''">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="artist"><h6>Ulubiony wykonawca:</h6></label>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" id="artist"
                                                       th:name="artist"
                                                       th:placeholder="${user.preference.favArtist} ?: 'Ulubiony Wykonawca'">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="genre"><h6>Ulubiony gatunek:</h6></label>
                                            </div>
                                            <div class="col-md-8">
                                                <select class="form-control" id="genre" th:name="genre" th:value="${user.preference.favGenre} ?: 'Gatunek'">
                                                    <option value="" disabled selected>Wybierz Gatunek</option>
                                                    <option th:each="genre : ${genres}" th:value="${genre}" th:text="${genre}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="row justify-content-end">
                                        <div>
                                            <button class="btn btn-success mr-1" type="submit">Zapisz</button>
                                        </div>
                                        <div>
                                            <button class="btn btn-danger" type="reset">Wyczyść</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div><!--/tab-pane-->
                </div><!--/tab-pane-->
            </div><!--/tab-content-->
        </div><!--/col-9-->
    </div><!--/row-->
</div>
</body>
</html>