<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="profileForm (user)" class="container bootstrap snippet">

    <div class="row" align="center">
        <div class="col" th:if="${message}">
            <h1 class="alert alert-danger" th:text="${message}"></h1>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-12">

            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#profile">Home&emsp;</a></li>
                <li><a data-toggle="tab" href="#preferences">Preferences</a></li>
            </ul>

            <div class="tab-content mt-3">
                <div class="tab-pane active" id="profile">

                    <form class="form" action="##" method="post" th:action="@{/profile/edit}"
                          enctype="multipart/form-data">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="username"><h4>User name:</h4></label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" th:name="username" id="username"
                                                   minlength="2" maxlength="30"
                                                   th:placeholder="${user.username}" title="enter your new user name.">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="email"><h4>Email:</h4></label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="email" class="form-control" th:name="email" id="email"
                                                   th:placeholder="${user.email}" title="enter your new email.">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="firstname"><h4>First name:</h4></label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" th:name="firstname" id="firstname"
                                                   th:placeholder="${user.firstName}"
                                                   title="enter your new first name.">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="lastname"><h4>Last name:</h4></label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" th:name="lastname" id="lastname"
                                                   th:placeholder="${user.lastName}" title="enter your new last name.">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="password"><h4 id="passTitle">Password:</h4></label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="password" onchange='check_pass();' class="form-control"
                                                   th:name="password"
                                                   id="password"
                                                   title="enter your password." minlength="5">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="password2"><h4 id="verifyPassTitle">Confirm:</h4></label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="password" onchange='check_pass();' class="form-control"
                                                   name="password2"
                                                   id="password2"
                                                   title="enter your password2.">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row w-100 m-0">
                            <div class="col-md-12" align="center">
                                <div class="text-center">
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12" align="center">
                                            <div class="image_outer_container">
                                                <div class="green_icon"></div>
                                                <div class="image_inner_container">
                                                    <img id="img"
                                                         th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(user.img)}}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h6>Upload a different photo...</h6>
                                    <input type="file" class="text-center center-block file-upload"
                                           onchange="readURL(this);" name="file">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <br>
                                <button class="btn btn-lg btn-success" type="submit" id="saveButton"><i
                                        class="glyphicon glyphicon-ok-sign"></i> Save
                                </button>
                                <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset
                                </button>
                                <br>
                            </div>
                        </div>
                    </form>
                </div>
                <!--==============================PREFERENCES===================================================================-->
                <div class="tab-pane" id="preferences">
                    <form class="form" action="##" method="post" th:action="@{/profile/preferences}"
                          enctype="multipart/form-data">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="song"><h4>Favourite Song:</h4></label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control"  id="song"
                                                   th:name="title"
                                                   placeholder="Song title"
                                                   th:value="${user.preference.favSong} ? ${user.preference.favSong.title} : ''">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="song_artist"><h4>By:</h4></label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control"  id="song_artist"
                                                   th:name="songArtist"
                                                   placeholder="Made by"
                                                   th:value="${user.preference.favSong} ? ${user.preference.favSong.artist} : ''">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="artist"><h4>Favourite Artist:</h4></label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="artist"
                                                   th:name="artist"
                                                   th:placeholder="${user.preference.favArtist} ?: 'Artist name'">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="genre"><h4>Favourite Genre:</h4></label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control"  id="genre"
                                                   th:name="genre"
                                                   th:placeholder="${user.preference.favGenre} ?: 'Genre name'">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <br>
                                <button class="btn btn-lg btn-success" type="submit"><i
                                        class="glyphicon glyphicon-ok-sign"></i> Save
                                </button>
                                <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset
                                </button>
                                <br>
                            </div>
                        </div>
                    </form>
                </div><!--/tab-pane-->
                <!--==============================PREFERENCES===================================================================-->
            </div><!--/tab-pane-->
        </div><!--/tab-content-->
    </div><!--/col-9-->
</div><!--/row-->
</body>
</html>