<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>

</head>

<body>
<form class="form-horizontal" th:fragment="registrationForm (user)" action="#" th:action="@{/addUser}"
      th:object="${user}" method="post" enctype="multipart/form-data">

    <div class="row" align="center">
        <div class="col-md-12 col-md-offset-4">
            <h1 style="font-family: 'Acme', sans-serif; font-size: 40px;">Fill the registration form.</h1>
        </div>
    </div>
    <div class="row" align="center">
        <div class="col" th:if="${message}">
            <h1 class="alert alert-danger" th:text="${message}"></h1>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-lg-2">
                <label class="control-label col-sm-2" style="font-family: 'Acme', sans-serif; font-size: 18px;" for="username">Username:</label>
            </div>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="username" placeholder="Enter username"
                       th:field="*{username}"/>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username
                    Error
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-lg-2">
                <label class="control-label col-sm-2" style="font-family: 'Acme', sans-serif; font-size: 18px;" for="password">Password:</label>
            </div>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="password" placeholder="Enter password"
                       th:field="*{password}"/>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password
                    Error
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-lg-2">
                <label class="control-label col-sm-2" style="font-family: 'Acme', sans-serif; font-size: 18px;" for="password">Name:</label>
            </div>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="firstName" placeholder="Enter firstName"
                       th:field="*{firstName}"/>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name
                    Error
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-lg-2">
                <label class="control-label col-sm-2" style="font-family: 'Acme', sans-serif; font-size: 18px;" for="lastName">LastName:</label>
            </div>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="lastName" placeholder="Enter firstName"
                       th:field="*{lastName}"/>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name
                    Error
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-lg-2">
                <label class="control-label col-sm-2" style="font-family: 'Acme', sans-serif; font-size: 18px;" for="email">Email:</label>
            </div>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="email" placeholder="Enter firstName"
                       th:field="*{email}"/>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email
                    Error
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-lg-2">
                <label class="control-label col-sm-2" style="font-family: 'Acme', sans-serif; font-size: 18px;" for="age">Age:</label>
            </div>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="age" placeholder="Enter firstName"
                       th:field="*{age}"/>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age
                    Error
                </div>
            </div>
        </div>
    </div>

    <div class="form-group mb-0">
        <label class="control-label col-sm-2" style="font-family: 'Acme', sans-serif; font-size: 18px;" for="image">Profile image:</label>
        <div class="col-lg-12">
            <input type="file" id="image" name="file">
        </div>
    </div>


    <div class="form-group pb-2">
        <div class="row" align="center">
            <div class="col-sm-offset-2 col-sm-12">
                <input type="submit"  style="font-family: 'Acme', sans-serif; font-size: 18px;" class="btn btn-primary"/>
                <input type="reset" style="font-family: 'Acme', sans-serif; font-size: 18px;" class="btn btn-primary"/>
            </div>
        </div>
    </div>

</form>
</body>

</html>