<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="results (searchResults)">
    <div class="row">
        <div class="col-md-12" align="center">
            <h1>Search results:</h1>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <div class="card-block">
                <table class="table table-hover m-0">
                    <tr th:each="user : ${searchResults}">
                        <td><a th:href="@{|user/${user.id}|}">
                            <div class="row">
                                <img width="30" height="30" th:if="*{user.img != null}"
                                     th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(user.img)}}"/>
                                <div th:text="${user.username}"></div>
                            </div>
                        </a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <ul class="nav nav-pills">
        <li class="nav-item"
            th:each="i : ${#numbers.sequence(0,totalPages-1)}">
            <a th:href="@{/search(page=${i})}" th:text="${i}" class="nav-link"
               th:classappend="${currentPage}==${i}?'active':''"></a>
        </li>
    </ul>
</div>
</body>
</html>