<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--==========================================================================================================-->
<!--SONG ADD FORM-->
<!--==========================================================================================================-->
<div th:fragment="songAdd (genres)">
    <div class="panel panel-white post panel-shadow p-3 m-1">
        <form class="form-horizontal" action="#" th:action="@{/addSong}" th:object="${song}" method="post">
            <div class="row" align="center">
                <div class="col-md-12 col-md-offset-4 my-2">
                    <h4>Dodaj propozycję utworu</h4>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="title" placeholder="Tutuł" required
                               th:field="*{title}"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="artist" placeholder="Wykonawca" required
                               th:field="*{artist}"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="album" placeholder="Album" th:field="*{album}"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row pl-2">
                            <div class="col-md-2 d-flex align-items-center">
                                <label for="genre">Gatunek</label>
                            </div>
                            <div class="col-md-10">
                                <select class="form-control" id="genre" required th:field="*{genre}">
                                    <option value="" disabled selected>Wybierz Gatunek</option>
                                    <option th:each="genre : ${genres}" th:value="${genre}" th:text="${genre}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <input type="url" class="form-control" id="link" placeholder="YouTube link" th:field="*{link}"/>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" value="Utwórz" class="btn btn-primary"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--==========================================================================================================-->
<!--SONG SEARCH FORM-->
<!--==========================================================================================================-->

<div th:fragment="songSearch">
    <div class="panel panel-white post panel-shadow m-1 p-3">
        <form class="form-horizontal pt-2" action="#" th:action="@{/findSong}" method="get">
            <div class="form-group">
                <div class="row" align="center">
                    <div class="col-md-12 col-md-offset-4 my-2">
                        <h4>Wyszukaj utwór</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div>Wyszukiwana fraza:</div>
                    </div>
                    <div class="col-md-2">
                        <div>Filtr:</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="search_phrase" th:name="searchPhrase"
                               th:value="${searchPhrase}"
                               placeholder="Wyszukaj..."/>
                    </div>
                    <div class="col-md-2" id="looking_for">
                        <select class="form-control" th:name="selectedOption" th:value="${selectedOption}">
                            <option th:value="title">Tytuł</option>
                            <option th:value="artist">Wykonawca</option>
                            <option th:value="album">Album</option>
                            <option th:value="genre">Gatunek</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" class="btn btn-primary" value="Szukaj"/>
                    </div>
                </div>
            </div>
        </form>
        <div>
            <a class="row mt-2 ml-1" href="#" th:href="@{/addForm}">Zauważyłeś, że czegoś tu brakuje? Dodaj to sam!</a>
        </div>
    </div>
</div>


<!--==========================================================================================================-->
<!--SONG SEARCH RESULTS-->
<!--==========================================================================================================-->

<div th:fragment="songList (songSearch, totalPages)">
    <div th:if="${not #lists.isEmpty(songSearch)}">
        <div class="panel panel-white post panel-shadow m-1 p-3">
            <table class="table table-hover m-0">

                <tr><th>Tytuł:</th><th>Wykonawca:</th></tr>

                <tr th:each="song : ${songSearch}">
                    <div class="row">
                        <td th:text="${song.title}"></td>
                        <td th:text="${song.artist}"></td>

                        <form class="form-horizontal" action="#" th:action="@{/songPlay}" method="get">
                            <input type="hidden" th:value="${song.link}" th:name="link"/>

                            <td><input type="submit" class="btn btn-primary" value="Odtwórz"/></td>

                        </form>
                        <form class="form-horizontal" action="#" th:action="@{/songFavourite}" method="post">
                            <input type="hidden" th:value="${song.id}" th:name="songId"/>
                            <td><input type="submit" class="btn btn-primary" value="Ulubiony"/></td>

                        </form>
                    </div>
                </tr>
            </table>
        </div>

        <ul class="nav nav-pills">
            <li class="nav-item" th:each="i : ${#numbers.sequence(0,totalPages-1)}">
                <a th:href="@{/findSong(page=${i},selectedOption=${selectedOption},searchPhrase=${searchPhrase})}"
                   th:text="${i}" class="nav-link"
                   th:classappend="${currentPage}==${i}?'active':''"></a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>