.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}

.panel-body
{
    overflow-y: scroll;
    height: 500px;
}

.message {
background-color: #bfa5d1;
 box-shadow: rgba(163, 156, 168, 0.3) 2px 2px 2px;
}
