.image_outer_container{
       	margin-top: auto;
       	margin-bottom: auto;
       	border-radius: 50%;
       	position: relative;
       }

.image_inner_container img{
       	width: 300px;
       	height: 300px;
       	border-radius: 50%;
       }

.image_outer_container_profile{
       	margin-top: auto;
       	margin-bottom: auto;
       	border-radius: 50%;
       	position: relative;
       }

.image_inner_container_profile img{
       width: 150px;
       height: 150px;
       border-radius: 50%;
       }