<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Tunas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link href="css/profileImg.css" rel="stylesheet">
    <link href="css/navbar.css" rel="stylesheet">
    <link href="css/homepage.css" rel="stylesheet">
    <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css"
          rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="container-fluid p-0 h-100" id="mainContent">
    <div class="row w-100 m-0">
        <div class="col-md-12 p-0">
            <div th:insert="fragments/navbarFragment :: navBar (loggedUser=${user})"></div>
        </div>
    </div>
    <div class="row w-100 m-0 h-100">
        <div class="col-md-12">
            <div class="row h-100" id="main_row">
                <div class="col-md-3 p-4 left">
                    <div class="container ml-3">
                        <br class="d-flex justify-content-center h-100">
                        <div class="row">
                            <div class="col-md-12" align="center">
                                <div class="image_outer_container">
                                    <div class="green_icon"></div>
                                    <div class="image_inner_container">
                                        <img th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(user.img)}}"/>
                                    </div>
                                    <div th:text="${user.username}" id="userName"></div>
                                    <!--<div th:if="${!user.friendRequests.isEmpty()}">-->
                                    <!--<p>You have new friend Requests</p>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12" align="center">
                                <form th:action="@{/profile}" method="get">
                                    <input type="submit" class="btn btn-primary btn-purple col-sm-6"
                                           value="Edit profile"/>
                                </form>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12" align="center">
                                <form action="#" method="post">
                                    <input type="submit" class="btn btn-primary btn-purple col-sm-6"
                                           value="My preferences"/>
                                </form>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12" align="center">
                                <form action="#" th:action="myFriends" method="get">
                                    <input type="submit" class="btn btn-primary btn-purple col-sm-6"
                                           value="My friends"/>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 p-3" id="content">
                    <div>
                        <div th:if="${content} == 'search'">
                            <div th:insert="fragments/searchResults :: results (searchResults=${searchResults})"></div>
                        </div>

                        <div th:if="${content} == 'posts'">
                            <div th:insert="fragments/postFragment :: post (user=${user})"></div>
                        </div>

                        <div th:if="${content} == 'profile'">
                            <div th:insert="fragments/profileFragment :: profileForm (user=${user})"></div>
                        </div>

                        <div th:if="${content} == 'friends'">
                            <div th:insert="fragments/friendsFragment :: userFriends (received=${received}, accepted=${accepted})"></div>
                        </div>

                        <div th:if="${content} == 'songRequests'">
                            <div th:insert="fragments/requestFragment :: songRequests (received=${requestList})"></div>
                        </div>

                        <div th:if="${content} == 'songList'">
                            <div th:insert="fragments/songFragment :: songSearch"></div>
                            <div th:insert="fragments/songFragment :: songList (songSearch=${songSearch})"></div>
                        </div>

                        <div th:if="${content} == 'songAdd'">
                            <div th:insert="fragments/songFragment :: songAdd"></div>
                        </div>

                        <div th:if="${content} == 'songPlay'">
                            <div th:insert="fragments/ytPlayerFragment :: ytPlayer (link=${link})"></div>
                            <div th:insert="fragments/songFragment :: songSearch"></div>
                            <div th:insert="fragments/songFragment :: songList (songSearch=${songSearch})"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 p-0 right"></div>
            </div>
        </div>
    </div>
</div>


<script>
function hideComments(id) {
    var x = document.getElementById(id);
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}

function check_pass() {
    if (document.getElementById('password').value ==
            document.getElementById('password2').value) {
        document.getElementById('saveButton').disabled = false;
        document.getElementById('passTitle').style.color = 'green';
        document.getElementById('verifyPassTitle').style.color = 'green';
    } else {
        document.getElementById('saveButton').disabled = true;
        document.getElementById('passTitle').style.color = 'red';
        document.getElementById('verifyPassTitle').style.color = 'red';
    }
}

function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#img')
                    .attr('src', e.target.result)
                    .width(300)
                    .height(300);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }





</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
</body>
</html>