<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Tunas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
<div class="view">
    <div class="container pt-5">
        <div class="row justify-content-md-center">
            <div>
                <h1 class="font-weight-bold" id="welcome">Welcome to Tunas!</h1>
            </div>

        </div>
        <div class="row justify-content-md-center">
            <div>
                <h1 id="logreg">Log in or register</h1>
            </div>
        </div>
    </div>
    <div class="col-12 d-flex justify-content-center align-items-center container ">
        <div class="row mt-3 row justify-content-md-center">
            <div class="jumbotron mt-5 px-5 pt-5 pb-2">
                <form th:action="@{/login}" method="post">
                    <div class="py-2" th:if="${param.error}">
                        <div class="alert alert-danger">Incorrect login or password</div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">User name:</label>
                        <input type="test" name="username" class="form-control" id="exampleInputEmail1"
                               aria-describedby="emailHelp" placeholder="User name">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Password:</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                               placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Log in</button>
                </form>

                <div class="mt-4"><a th:href="@{/reg}"> Don't have an account yet? Register now!</a></div>


            </div>
        </div>
    </div>


</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>